footer {
	text-align: center;
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 20px 0;
}

.navy-link {
	color: #FFFFFF;
}

.navy-link :hover{
	color: blue;
}

.td-center {
	text-align: center;
}

.carrousel-img {
    width: 1200px;
	height: 190px;
}

.header-background {
	background-color: #032703;
}

footer {
	background-color: #032703;
}

.alunos-title {
	background-repeat: repeat-x;
	background-size: contain;
	background-image: url(/assets/img/lousa_3_bkg.jpg);
	background-origin: border-box;
	background-blend-mode: multiply;
}

.alunos-title h1 {
	color: whitesmoke;
}

.professores-title {
	background-repeat: repeat-x;
	background-size: contain;
	background-image: url(/assets/img/lousa_3_bkg.jpg);
	background-origin: border-box;
	background-blend-mode: multiply;
}

.professores-title h1 {
	color: whitesmoke;
}

.no-margin {
	max-width: none;
	margin: 0px;
	padding: 2px;
}

.my-header {
	margin: 0px;
}

h3{
	margin: 30px;
}

/*Sobre nós - Início*/
.content-about-us {
	margin-top: 20px;
	margin-bottom: 10px;
}

.about-us {
	color:black;
	font-family: cursive;
}

.about-us-text {
	color: gray;
	font-family: cursive;
	justify-content: left;
}

.content-about-us .row {
	margin: 50px;
}